In [1]:
import numpy as np
import pandas as pd
np.__version__

'1.21.5'

In [2]:
data = pd.read_csv('D:/Users/Pavel/Desktop/я.практикум/ML-zoomcamp/module 1 intro/data.txt')
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
data.pivot_table(index='Make', values='Popularity', aggfunc='count').sort_values('Popularity', ascending=False)

               Popularity
Make
Chevrolet            1123
Ford                  881
Volkswagen            809
Toyota                746
Dodge                 626
Nissan                558
GMC                   515
Honda                 449
Mazda                 423
Cadillac              397
Mercedes-Benz         353
Suzuki                351
BMW                   334
Infiniti              330
Audi                  328
Hyundai               303
Volvo                 281
Subaru                256
Acura                 252
Kia                   231
Mitsubishi            213
Lexus                 202
Buick                 196
Chrysler              187
Pontiac               186
Lincoln               164
Oldsmobile            150
Land Rover            143
Porsche               136
Saab                  111
Aston Martin           93
Plymouth               82
Bentley                74
Ferrari                69
FIAT                   62
Scion                  60
Maserati               58
Lamborghini            52
Rolls-Royce            31
Lotus                  29
Tesla                  18
HUMMER                 17
Maybach                16
McLaren                 5
Alfa Romeo              5
Spyker                  3
Bugatti                 3
Genesis                 3

In [16]:
data[data['Make'] == 'Audi'].nunique()

Make                   1
Model                 34
Year                  20
Engine Fuel Type       5
Engine HP             40
Engine Cylinders       6
Transmission Type      3
Driven_Wheels          2
Number of Doors        2
Market Category       15
Vehicle Size           3
Vehicle Style          6
highway MPG           23
city mpg              18
Popularity             1
MSRP                 234
dtype: int64

In [6]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [ ]:
data['Engine Cylinders'].median()
display(data.groupby('Engine Cylinders').count().sort_values(by='Engine Cylinders'))
data['Engine Cylinders'].fillna(4)
data.groupby('Engine Cylinders').count().sort_values(by='Engine Cylinders')

,Make,Model,Year,Engine Fuel Type,Engine HP,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Engine Cylinders,,,,,,,,,,,,,,,
0.0,56,56,56,56,13,56,56,51,51,56,56,56,56,56,56
3.0,30,30,30,30,30,30,30,30,26,30,30,30,30,30,30
4.0,4752,4752,4752,4752,4743,4752,4752,4752,3126,4752,4752,4752,4752,4752,4752
5.0,225,225,225,225,225,225,225,225,170,225,225,225,225,225,225
6.0,4489,4489,4489,4486,4473,4489,4489,4489,2923,4489,4489,4489,4489,4489,4489
8.0,2031,2031,2031,2031,2031,2031,2031,2031,1545,2031,2031,2031,2031,2031,2031
10.0,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
12.0,230,230,230,230,230,230,230,229,230,230,230,230,230,230,230
16.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

,Make,Model,Year,Engine Fuel Type,Engine HP,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Engine Cylinders,,,,,,,,,,,,,,,
0.0,56,56,56,56,13,56,56,51,51,56,56,56,56,56,56
3.0,30,30,30,30,30,30,30,30,26,30,30,30,30,30,30
4.0,4752,4752,4752,4752,4743,4752,4752,4752,3126,4752,4752,4752,4752,4752,4752
5.0,225,225,225,225,225,225,225,225,170,225,225,225,225,225,225
6.0,4489,4489,4489,4486,4473,4489,4489,4489,2923,4489,4489,4489,4489,4489,4489
8.0,2031,2031,2031,2031,2031,2031,2031,2031,1545,2031,2031,2031,2031,2031,2031
10.0,68,68,68,68,68,68,68,68,68,68,68,68,68,68,68
12.0,230,230,230,230,230,230,230,229,230,230,230,230,230,230,230
16.0,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

In [17]:
data1 = data[data['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()
x = np.asarray(data1)
x, x.T
xtx = np.dot(x.T, x)
xtx = np.linalg.inv(xtx)
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])
w = np.dot(y, np.dot(x, xtx))
w[0]

4.5949448100945744